<div class="container">
  <h2>New Presentation</h2>

<% if @errors %>
<ul>
  <% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>
<div class="row">
    <%= form_for :presentation, url: "/users/#{@user.id}/presentations" do %>
      <div class="row">
        <div class="input-field col s6">
          <input name="name" type="text" class="validate" required>
          <label for="name">Name</label>
        </div>
        <div class="input-field col s6">
          <input name="location" type="text" class="validate" required>
          <label for="location">Location</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="audience" type="text" class="validate" required>
          <label for="audience">Audience</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="date" type="date" class="datepicker" value="Select A Date" required>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s2">
          <select name="starting_time" required>
            <option value="" disabled selected>Start Time:</option>
            <option value="1:00">1:00</option>
            <option value="1:15">1:15</option>
            <option value="1:30">1:30</option>
            <option value="1:45">1:45</option>
            <option value="2:00">2:00</option>
            <option value="2:15">2:15</option>
            <option value="2:30">2:30</option>
            <option value="2:45">2:45</option>
            <option value="3:00">3:00</option>
            <option value="3:15">3:15</option>
            <option value="3:30">3:30</option>
            <option value="3:45">3:45</option>
            <option value="4:00">4:00</option>
            <option value="4:15">4:15</option>
            <option value="4:30">4:30</option>
            <option value="4:45">4:45</option>
            <option value="5:00">5:00</option>
            <option value="5:15">5:15</option>
            <option value="5:30">5:30</option>
            <option value="5:45">5:45</option>
            <option value="6:00">6:00</option>
            <option value="6:15">6:15</option>
            <option value="6:30">6:30</option>
            <option value="6:45">6:45</option>
            <option value="7:00">7:00</option>
            <option value="7:15">7:15</option>
            <option value="7:30">7:30</option>
            <option value="7:45">7:45</option>
            <option value="8:00">8:00</option>
            <option value="8:15">8:15</option>
            <option value="8:30">8:30</option>
            <option value="8:45">8:45</option>
            <option value="9:00">9:00</option>
            <option value="9:15">9:15</option>
            <option value="9:30">9:30</option>
            <option value="9:45">9:45</option>
            <option value="10:00">10:00</option>
            <option value="10:15">10:15</option>
            <option value="10:30">10:30</option>
            <option value="10:45">10:45</option>
            <option value="11:00">11:00</option>
            <option value="11:15">11:15</option>
            <option value="11:30">11:30</option>
            <option value="11:45">11:45</option>
            <option value="12:00">12:00</option>
            <option value="12:15">12:15</option>
            <option value="12:30">12:30</option>
            <option value="12:45">12:45</option>
          </select>
        </div>
        <div class="input-field col s2">
          <select name="start_period" required>
            <option value="AM">AM</option>
            <option value="PM">PM</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s2">
          <select name="ending_time" required>
            <option value="" disabled selected>End Time:</option>
            <option value="1:00">1:00</option>
            <option value="1:15">1:15</option>
            <option value="1:30">1:30</option>
            <option value="1:45">1:45</option>
            <option value="2:00">2:00</option>
            <option value="2:15">2:15</option>
            <option value="2:30">2:30</option>
            <option value="2:45">2:45</option>
            <option value="3:00">3:00</option>
            <option value="3:15">3:15</option>
            <option value="3:30">3:30</option>
            <option value="3:45">3:45</option>
            <option value="4:00">4:00</option>
            <option value="4:15">4:15</option>
            <option value="4:30">4:30</option>
            <option value="4:45">4:45</option>
            <option value="5:00">5:00</option>
            <option value="5:15">5:15</option>
            <option value="5:30">5:30</option>
            <option value="5:45">5:45</option>
            <option value="6:00">6:00</option>
            <option value="6:15">6:15</option>
            <option value="6:30">6:30</option>
            <option value="6:45">6:45</option>
            <option value="7:00">7:00</option>
            <option value="7:15">7:15</option>
            <option value="7:30">7:30</option>
            <option value="7:45">7:45</option>
            <option value="8:00">8:00</option>
            <option value="8:15">8:15</option>
            <option value="8:30">8:30</option>
            <option value="8:45">8:45</option>
            <option value="9:00">9:00</option>
            <option value="9:15">9:15</option>
            <option value="9:30">9:30</option>
            <option value="9:45">9:45</option>
            <option value="10:00">10:00</option>
            <option value="10:15">10:15</option>
            <option value="10:30">10:30</option>
            <option value="10:45">10:45</option>
            <option value="11:00">11:00</option>
            <option value="11:15">11:15</option>
            <option value="11:30">11:30</option>
            <option value="11:45">11:45</option>
            <option value="12:00">12:00</option>
            <option value="12:15">12:15</option>
            <option value="12:30">12:30</option>
            <option value="12:45">12:45</option>
          </select>
        </div>
        <div class="input-field col s2">
          <select name="end_period" required>
            <option value="AM">AM</option>
            <option value="PM">PM</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="notes" type="text" class="validate">
          <label for="notes">Notes</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="submit" class="validate btn-large waves-effect waves-light green darken-4"  value="Create Presentation">
        </div>
      </div>
    <% end %>
  </div>

</div>
<br>
