<div class="container">
  <h2>New Presentation</h2>

<% if @errors %>
<ul>
  <% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>
<div class="row">
    <%= form_for :presentation, url: "/users/#{@user.id}/presentations" do %>
      <div class="row">
        <div class="input-field col s6">
          <input name="name" type="text" class="validate" required>
          <label for="name">Name</label>
        </div>
        <div class="input-field col s6">
          <input name="location" type="text" class="validate" required>
          <label for="location">Location</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="audience" type="text" class="validate" required>
          <label for="audience">Audience</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="date" type="date" class="datepicker" value="Select A Date" required>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s2">
          <select name="starting_time" required>
            <option value="" disabled selected>Start Time:</option>
            <option value="1:00">1:00</option>
            <option value="2:00">2:00</option>
            <option value="3:00">3:00</option>
            <option value="4:00">4:00</option>
            <option value="5:00">5:00</option>
            <option value="6:00">6:00</option>
            <option value="7:00">7:00</option>
            <option value="8:00">8:00</option>
            <option value="9:00">9:00</option>
            <option value="10:00">10:00</option>
            <option value="11:00">11:00</option>
            <option value="12:00">12:00</option>
          </select>
        </div>
        <div class="input-field col s2">
          <select name="start_period" required>
            <option value="AM">AM</option>
            <option value="PM">PM</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s2">
          <select name="ending_time" required>
            <option value="" disabled selected>End Time:</option>
            <option value="1:00">1:00</option>
            <option value="2:00">2:00</option>
            <option value="3:00">3:00</option>
            <option value="4:00">4:00</option>
            <option value="5:00">5:00</option>
            <option value="6:00">6:00</option>
            <option value="7:00">7:00</option>
            <option value="8:00">8:00</option>
            <option value="9:00">9:00</option>
            <option value="10:00">10:00</option>
            <option value="11:00">11:00</option>
            <option value="12:00">12:00</option>
          </select>
        </div>
        <div class="input-field col s2">
          <select name="end_period" required>
            <option value="AM">AM</option>
            <option value="PM">PM</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="notes" type="text" class="validate" required>
          <label for="notes">Notes</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="submit" class="validate" required>
        </div>
      </div>

    <% end %>
  </div>

</div>
<br>
