<div class="container">
  <h2>New Presentation</h2>

<% if @errors %>
<ul>
  <% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>
<div class="row">
    <form action=" " method="post" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="name" type="text" class="validate">
          <label for="name">Name</label>
        </div>
        <div class="input-field col s6">
          <input id="location" type="text" class="validate">
          <label for="location">Location</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3">
          <select>
            <option value="" disabled selected>Choose A Time:</option>
            <option value="1">1:00</option>
            <option value="2">2:00</option>
            <option value="3">3:00</option>
            <option value="4">4:00</option>
            <option value="5">5:00</option>
            <option value="6">6:00</option>
            <option value="7">7:00</option>
            <option value="8">8:00</option>
            <option value="9">9:00</option>
            <option value="10">10:00</option>
            <option value="11">11:00</option>
            <option value="12">12:00</option>
          </select>
        </div>
        <div class="input-field col s2">
          <select>
            <option value="" disabled selected>Period:</option>
            <option value="1">AM</option>
            <option value="2">PM</option>
          </select>
        </div>
      </div>
      <div class="row">

      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Notes</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="submit" class="validate">
        </div>
      </div>

    </form>
  </div>

</div>
<br>
