
  <div id="camera" class="center">
    <video autoplay="true" id="videoElement"></video>
    <button id='snap' type="button" value="Send Picture"></button>
    <div class="absolute container">
      <div id="anger">Anger</div>
      <div id="contempt">Contempt</div>
      <div id="disgust">Disgust</div>
      <div id="fear">Fear</div>
      <div id="happiness">Happiness</div>
      <div id="neutral">Neutral</div>
      <div id="sadness">Sadness</div>
      <div id="surprise">Surprise</div>
    </div>
  </div>



</div>
