<div id="run-container">
  <br><br>
  <div id="camera-container">
    <div id="timer" class="center">
      <form name="clockform">
        <p id="clock" name="clock" value='<%= @presentation.time_taken %>'><%= @presentation.time_pretty %></p>
        <input id="start" class="waves-effect waves-light green darken-4" name="starter" type="button" value="Start/Pause"/>
        <input id="stop" class="waves-effect waves-light red darken-4" name="clearer" type="button" value="End" />
      </form>
      <div id="faces"><%= @result.faces %> faces detected</div>
      <div id="stats">
        <div id="stats-title" class="center">Current Emotions</div>
        <div class="row emotions">
          <table>
            <tbody>
              <tr class="emotion">
                <td class="emotion-title">Anger</td>
                <td class="emotion-percentage"><div id="anger"></div></td>
              </tr>
              <tr class="emotion">
                <td class="emotion-title">Contempt</td>
                <td class="emotion-percentage"><div id="contempt"></div></td>
              </tr>
              <tr class="emotion">
                <td class="emotion-title">Disgust</td>
                <td class="emotion-percentage"><div id="disgust"></div></td>
              </tr>
              <tr class="emotion">
                <td class="emotion-title">Fear</td>
                <td class="emotion-percentage"><div id="fear"></div></td>
              </tr>
              <tr class="emotion">
                <td class="emotion-title">Happiness</td>
                <td class="emotion-percentage"><div id="happiness"></div></td>
              </tr>
              <tr class="emotion">
                <td class="emotion-title">Neutral</td>
                <td class="emotion-percentage"><div id="neutral"></div></td>
              </tr>
              <tr class="emotion">
                <td class="emotion-title">Sadness</td>
                <td class="emotion-percentage"><div id="sadness"></div></td>
              </tr>
              <tr class="emotion">
                <td class="emotion-title">Surprise</td>
                <td class="emotion-percentage"><div id="surprise"></div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="camera" class="center">
      <video autoplay="true" id="videoElement"></video>
      <canvas id='camera-canvas'></canvas>
    </div>
  </div>
  <br><br>
</div>

<script>
  var video = document.querySelector("#videoElement");
  navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;
  if (navigator.getUserMedia) {
    navigator.getUserMedia({video: true}, handleVideo, videoError);
  }
  function handleVideo(stream) {
    // video.src = window.URL.createObjectURL(stream);
    video.src = window.URL.createObjectURL(stream);
  }
  function videoError(e) {
    // do something
  }
</script>
