<div class="container">
  <h2>Hello <%= @user.username %></h2>

<%= link_to 'Create A New Presentation', new_user_presentation_path(@user) %>

<h3>Your Previous Presentations:</h3>

<% if @presentations %>
  <ul>
    <% @presentations.each do |presentation| %>
      <li><%= link_to presentation.name, user_presentation_path(@user, presentation) %></li>
  <% end %>
</ul>

<% else %>
 <p>You currently have no previous presentations.</p>
<% end %>



</div>
