@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.white-text {
  color: #FFFFFF
}

.black-background {
  background-color: black;
}

#run-container {
  background-color: black;
  padding-bottom: 2.5%;
}


#camera-container {
  width: 1000px;
  height: 750px;
  margin: 0px auto;
  position: relative;
  z-index: 1;
}

#camera {
  width: 1000px;
  height: 750px;
  margin: 0px auto;
  position: relative;
  z-index: 2;
}

#timer {
  width: 1000px;
  height: 750px;
  text-align: center;
  padding-top: 100px;
  position: absolute;
  z-index: 5;
  background-color: black;
  opacity: 0.9;
}

#clock {
  font-size: 40px;
  font-weight: bold;
  height: 50%;
  text-align: center;
  color: white;
}

#start {
  padding: 10px;
  color: white;
}

#stop {
  padding: 10px;
  color: white;
}

#videoElement {
width: 1000px;
height: 750px;
background-color: #666;
position: absolute;
z-index: 4;
}

#camera-canvas {
  width: 1000px;
  height: 750px;
  position: relative;
  z-index: 3;
}

#stats {
  width: 100%;
  margin: 0px auto;
  position: absolute;
  z-index: 6;
  background-color: transparent;
}

#stats-title {
  padding-top: 40px;
  font-size: 2em;
  color: white;
}

.emotions {
  padding-bottom: 50px;
}

.emotion {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 50px;
}

.emotion-title {
  font-size: 1.5em;
  color: white;
}

#anger {
  background-color: red;
  height: 20px;
}

#contempt {
  background-color: purple;
  height: 20px;
}

#disgust {
  background-color: brown;
  height: 20px;
}

#fear {
  background-color: darkblue;
  height: 20px;
}

#happiness {
  background-color: yellow;
  height: 20px;
}

#neutral {
  background-color: green;
  height: 20px;
}

#sadness {
  background-color: lightblue;
  height: 20px;
}

#surprise {
  background-color: orange;
  height: 20px;
  width: 100%;
}

.data-table {
  height: 100px;
}

.presentation-td {
  vertical-align: top;
  height: 20px;
  width: 50%;
}
