@import "materialize";

// body {
//   background-color: #000000;
// }
body {
  height: 100%;
}
.white-text {
  color: #FFFFFF
}

.black-background {
  background-color: black;
}

// .something {
//   background-color: #CCCCCC;
//   padding: 5px;
// }
