@import "materialize";

body {
  height: 100%;
}

.white-text {
  color: #FFFFFF
}

.black-background {
  background-color: black;
}

#run-container {
  background-color: black;
  padding-bottom: 2.5%;
}


#camera-container {
  width: 400px;
  height: 300px;
  margin: 0px auto;
  position: relative;
  z-index: 1;
}

#camera {
  width: 400px;
  height: 300px;
  margin: 0px auto;
  position: relative;
  z-index: 2;
}

#timer {
  width: 400px;
  height: 300px;
  text-align: center;
  padding-top: 70px;
  position: absolute;
  z-index: 5;
}

#clock {
  font-size: 40px;
  font-weight: bold;
  height: 50%;
  text-align: center;
  color: white;
}

#start {
  padding: 10px;
  color: white;
}

#stop {
  padding: 10px;
  color: white;
}

#videoElement {
width: 400px;
height: 300px;
background-color: #666;
position: absolute;
z-index: 4;
}

#camera-canvas {
  width: 400px;
  height: 300px;
  border: 1px solid green;
  position: relative;
  z-index: 3;
}

#stats {
  width: 80%;
  margin: 0px auto;
  position: relative;
}

#stats-title {
  font-size: 2em;
  background-color: black;
  color: white;
}

.emotion {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.emotion-title {
  font-size: 1.5em;
  color: white;
}

#anger {
  background-color: white;
  height: 20px;
}

#contempt {
  background-color: white;
  height: 20px;
}

#disgust {
  background-color: white;
  height: 20px;
}

#fear {
  background-color: white;
  height: 20px;
}

#happiness {
  background-color: white;
  height: 20px;
}

#neutral {
  background-color: white;
  height: 20px;
}

#sadness {
  background-color: white;
  height: 20px;
}

#surprise {
  background-color: white;
  height: 20px;
  width: 100%;
}
